@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

* > * {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .homeGradient {
    border-radius: 6px;
    background: linear-gradient(
      286deg,
      rgba(255, 255, 255, 0) 1.39%,
      rgba(1, 150, 175, 0.7) 38.22%
    );
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.overflowScrollbar {
  ::-webkit-scrollbar {
    width: 0px;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
